.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 317px;
    height: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.1), 0px 10px 40px 0px rgba(29, 33, 38, 0.13);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar.open {
    transform: translateX(0);
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.nav {
    display: flex;
    flex-direction: column;
    position: relative;

    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
}

.nav a {
    padding: 40px 0 0 70px;
    text-decoration: none;
}

.nav a:hover {
    color: rgb(88, 172, 255);
}

.nav a.active {
    color: rgb(0, 89, 178);
}

.close {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 24px;
}

.close img {
}
