.item {
    border-bottom: 2px solid #E5E5E5;
}

.item:last-of-type {
}

.users {
}

.buttonsContainer {
}

.container {
}

.thead {
}

.nameCol {
    font-size: 14px;
    font-weight: 600;
    min-width: 300px;
}

.ageCol {
    font-size: 14px;
    font-weight: 600;
    min-width: 300px;
}