.item {
    border-top: 1px solid #E5E5E5;
    height: 36px;
}

.item:last-of-type {
}

.users {
    width: 100%;
    border-collapse: collapse;
}

.buttonsContainer {
    display: flex;
    padding-bottom: 20px;
    justify-content: flex-end;

    button {
        & + button {
            margin-left: 10px;
        }
    }
}

.container {
}

.thead {
    height: 36px;
    background-color: #E5E5E5;
}

.nameCol {
    width: 50%;
    font-size: 14px;
    font-weight: 600;
}

.ageCol {
    width: 50%;
    font-size: 14px;
    font-weight: 600;
}