.App {
    --header_height: 60px;
    display: flex;
    flex-direction: column;
}

.hw {
    padding: 50px 70px 230px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.wrapper {
    padding: 25px 0 25px 0;
    width: 1280px;
}

.hwTitle {
    padding: 10px;
    font-weight: 600;
    font-size: 22px;
    color: #000;
}