.button {
    border-radius: 3px;
    padding: 5px 24px;
    width: 167px;
    height: 30px;
}

.disabled {
}

.secondary {
    background: #e5f0fa;
    color: #06c;
}

.default {
    background: #06c;
    color: #fff;
}

.red {
    background-color: red;
    color: #fff;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
    background: #004d99;
    opacity: 0.5;
    color: #002e5c;
}
